<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,700|Playfair+Display:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="https://7585772d0354c57373d83229aa6ed9446615d684.googledrive.com/host/0B2iaOCot7-OHMmFmcjVzSGp3dzQ/favicon.png">

    <!-- SEO Tags -->
    <% if current_page.data.id == "palette_town" %>
      <title>Palette Town | Sass Mixin for Generating Color Palettes</title>
      <meta property="og:title" content="Palette Town | Sass Mixin for Generating Color Palettes" />
      <meta property="og:description" content="Palette Town | Sass Mixin for Generating Color Palettes" />
      <meta property="og:image" content="<%= current_page.data.image %>" />
      <meta property="og:image:height" content="220" />
      <meta property="og:image:width" content="440" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@jordiesaenz" />
      <meta name="twitter:creator" content="@jordiesaenz" />
      <meta property="og:url" content="http://www.jordiesaenz.com<%= current_page.url %>" />
      <meta property="og:site_name" content="Jordie Saenz" />
    <% else %>
      <title><%= current_page.data.title || "Jordie Saenz" %></title>
      <meta property="og:title" content="<%= current_page.data.title || "Jordie Saenz" %>" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@jordiesaenz" />
      <meta name="twitter:creator" content="@jordiesaenz" />
      <meta property="og:url" content="http://www.jordiesaenz.com<%= current_page.url %>" />
      <meta property="og:site_name" content="Jordie Saenz" />

      <% if current_page.data.blog_post = true %>
        <meta property="og:description" content="<%= current_page.data.summary || "Jordie's personal website." %>" />
        <meta property="og:image" content="<%= current_page.data.image_full %>" />
        <meta property="og:image:height" content="<%= current_page.data.image_height %>" />
        <meta property="og:image:width" content="<%= current_page.data.image_width %>" />
      <% end %>
    <% end %>

    <%= stylesheet_link_tag :styles %>
  </head>

  <body class="<%= page_classes %>">
    <div class="color-overlay"></div>
    <div class="color-overlay color-overlay-modal"></div>
    <svg class="corner top-left"><rect></rect></svg>
    <svg class="corner top-right"><rect></rect></svg>
    <svg class="corner bottom-left"><rect></rect></svg>
    <svg class="corner bottom-right" viewBox="1390 974 50 50"><polygon points="1440 974 1440 1024 1390 1024"></polygon></svg>
    <%= partial "partials/menu" %>
    <div class="sticky-footer-wrap">
      <div class="content-wrap">
        <header>
          <div class="container">
            <div class="container-inner">
              <% if current_page.data.blog_post == true %>
                <h1 class="header"><a href="/blog" class="blog-breadcrumb">Blog</a> > <%= current_page.data.title %></h1>
              <% else %>
                <h1 class="header"><%= current_page.data.header %></h1>
                <h2 class="tagline"><%= current_page.data.tagline %></h2>
              <% end %>
            </div>
          </div>
      </header>
      <div class="container">
        <div class="container-inner">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="footer-wrap">
      <%= partial "partials/footer" %>
    </div>
  </div>
    <% if current_page.data.id == "colab" %>
      <%= partial "partials/modals" %>
    <% end %>
    <%= javascript_include_tag 'jquery', 'footer_toggle', 'modals' %>
  </body>
</html>
