<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Typekit -->
    <script src="https://use.typekit.net/aod8hgl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- SEO Tags -->
    <title><%= current_page.data.title || "Jordie Saenz" %></title>
    <meta property="og:title" content="<%= current_page.data.title || "Jordie Saenz" %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@jordiesaenz" />
    <meta name="twitter:creator" content="@jordiesaenz" />
    <meta property="og:url" content="http://www.jordiesaenz.com<%= current_page.url %>" />
    <meta property="og:site_name" content="Jordie Saenz" />

    <% if current_page.data.blog_post = true %>
      <meta property="og:description" content="<%= current_page.data.summary || "Jordie's personal website." %>" />
      <meta property="og:image" content="<%= current_page.data.image_full %>" />
    <% end %>

    <%= stylesheet_link_tag :styles %>
  </head>

  <body class="<%= page_classes %>">
    <div class="color-overlay"></div>
        <%= yield %>
    <%= javascript_include_tag 'jquery', 'menu', 'parallax' %>
  </body>
</html>
