<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ site.title }}</title>

  <base href="{{ site.baseurl }}">
  <meta name="url" content="{{ site.baseurl }}{{ page.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="index" href="{{ site.baseurl }}" title="Jordie Saenz | Songwriter, Composer, Musician">
  <meta name="description" content="{{ page.description }}">
  <meta name="google-site-verification" content="-4lqxHAJiCQsBx4UbWJZPR3StZTeVmPYNxQow1HTts0" />
  <meta name="generator" content="Jekyll">
  <meta name="rating" content="General">
  <link rel="author" href="{{ site.baseurl }}/">
  <meta name="subject" content="music">
  <meta name="geo.region" content="US-CA">

  <!-- OPENGRAPH -->
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:image" content="{{ site.url }}{{ page.image }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.title }}{{ page.title }}">
  <meta property="og:locale" content="en_US">
  {% if page.type == "post" %}
    <meta property="og:type" content="article">
  {% endif %}
  {% if page.type == "music" and page.music_type == "album" %}
    <meta property="og:type" content="music.album"/>
  {% endif %}
  {% if page.type == "music" and page.music_type == "track" %}
    <meta property="og:type" content="music.song"/>
  {% endif %}

  <!-- TWITTER -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:title" content="{{ site.title }} | {{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:text:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">

  <!-- GOOGLE+ -->
  <meta itemprop="name" content="{{ site.title }} | {{ page.title }}">
  <meta itemprop="description" content="{{ page.description }}">
  <meta itemprop="image" content="{{ site.url }}{{ page.image }}">

  <!-- Google Site Verification -->
  <meta name="google-site-verification" content="cSsIHN4CvMHAq4Lp9WhbNErImBkWwpk97yIBwzTIWdE" />

  <!-- FONTAWESOME -->
  <script src="https://use.fontawesome.com/54a513d1d5.js"></script>

  <!-- STYLES -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{ site.time | date_to_xmlschema }}">
</head>
